@import '~/src/sass/style';

.regular-requests-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $space-default;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $space-default;
  }
  &__content {
    flex: 1;
    overflow-y: auto;
    background-color: $white;
  }
  &__table-action {
    width: 165px;
    text-align: center !important;
  }
  &__first-button {
    margin-bottom: 5px;
    margin-right: 0px;
  }
  &__filter-section {
    background-color: $white;
    display: flex;
    flex-direction: column;
    gap: $space-small;
    padding: $space-default;
    margin-bottom: $space-large;
  }
}

@include large-up {
  .regular-requests-list {
    &__first-button {
      margin-bottom: 0px;
      margin-right: 5px;
    }
    &__filter-section {
      flex-direction: row;
    }
    &__button-column {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      gap: $space-small;
    }
  }
}
