@import 'reset.scss';
@import 'constant.scss';

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  color: $gray-darker;
  height: 100%;
  background: $body-bg;
  position: relative;
  overflow-x: hidden;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
