// This is a default file to reset the pre-defined

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: #333333;
}

body {
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  background-color: transparent;

  &:active {
    outline: 0;
  }

  &:hover {
    outline: 0;
  }
}

b,
strong {
  font-weight: bold;
}

img {
  border: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  touch-action: manipulation;
}

select {
  appearance: none;
  border-radius: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

textarea {
  resize: none;
  overflow: auto;
}

button,
input[type='button'] {
  cursor: pointer;
  overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;

  &::-ms-clear {
    display: none;
  }
}

// select:invalid {
//   color: #eeeeee;
// }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  height: auto;
  -webkit-appearance: none;
}

input[type='search'] {
  -webkit-appearance: textfield;
  appearance: textfield;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

pre {
  margin: 0;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[tabindex='-1']:focus {
  outline: 0 !important;
}

[role='button'],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
