@import '~/src/sass/style.scss';

@keyframes modalContentAnimate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $space-large;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1005;
  transition: all ease 0.4s;

  &__content {
    background: $white;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 90%;
    min-width: 100%;
    max-width: 80%;
    animation: 0.3s linear 0s 1 modalContentAnimate;
  }
}

@include large-up {
  .modal {
    &__content {
      min-width: 700px;
      &--small {
        min-width: 450px;
      }
      &--large {
        width: 60%;
        max-width: 900px;
      }
    }
  }
}
