@import '~/src/sass/style';

.export-dropdown {
  position: relative;
  display: inline-block;

  &__icon {
    margin-right: $space-small;

    &--right {
      margin-right: 0;
      margin-left: $space-small;
    }
  }

  &__menu {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background: $white;
    border: 1px solid $gray-light;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    min-width: 180px;
    z-index: 1000;
    overflow: hidden;
  }

  &__menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    background: $white;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    color: $gray-darker;
    transition: background-color 0.2s ease;

    &:hover {
      background: $gray-lightest;
    }

    &:active {
      background: $gray-light;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $gray-light;
    }
  }

  &__menu-icon {
    margin-right: 10px;
    color: $gray-dark;
  }
}
