@import '~/src/sass/style';

.side-nav-header {
  background: $white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: $header-height;
  padding: 0 $space-default;
  flex-shrink: 0;
  border-bottom: 1px solid $gray-light;
  box-shadow: 0 0 0px $gray-light;
}
