@import '~/src/sass/style';

.profile {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $space-default;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $space-default;
  }
  &__content {
    flex: 1;
    overflow: hidden;
    margin-top: 20px;
  }
  &__layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: $space-default;
    
    // Tablet and up: Horizontal layout
    @include medium-up {
      flex-direction: row;
      gap: $space-large;
    }
  }
  &__sidebar {
    // Mobile: Full width, scrollable with content
    width: 100%;
    flex-shrink: 0;
    
    // Tablet: Fixed width 200px
    @include medium-up {
      width: 200px;
      position: sticky;
      top: 0;
      height: fit-content;
    }
    
    // Desktop: Fixed width 250px
    @include large-up {
      width: 250px;
    }
    
    // Large desktop: Fixed width 280px
    @include extra-large {
      width: 280px;
    }
  }
  &__form-content {
    flex: 1;
    min-width: 0; // Prevents flex item from overflowing
    
    // Tablet and up: Scrollable form content
    @include medium-up {
      height: 100%;
      overflow-y: auto;
      padding-right: $space-small;
      
      // Custom scrollbar styling
      &::-webkit-scrollbar {
        width: 6px;
      }
      
      &::-webkit-scrollbar-track {
        background: $gray-lighter;
        border-radius: 3px;
      }
      
      &::-webkit-scrollbar-thumb {
        background: $gray-light;
        border-radius: 3px;
        
        &:hover {
          background: $gray;
        }
      }
    }
  }
  &__margin-bottom {
    margin-bottom: $space-default;
    
    &--disabled {
      cursor: not-allowed;
      
      input,
      textarea,
      select {
        cursor: not-allowed;
        background-color: $gray-lighter;
        opacity: 0.7;
        user-select: none;
        pointer-events: none;
        
        &:hover {
          border-color: $gray-light;
        }
      }
      
      label {
        opacity: 0.7;
      }
    }
  }
  &__margin-right {
    margin-right: $space-small;
  }
  &__multi-field {
    display: flex;
    align-items: flex-end;
    margin-bottom: $space-default;
  }
  &__flex {
    flex: 1;
  }
  &__action-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;
  }
  &__company-logo {
    height: 200px;
    width: 100%;
    background-color: $gray-light;
  }
  &__company-details {
    background-color: $white;
    padding: 2px;
    &--last{
      margin-bottom: $space-default;
    }
  }
}
