@import '~/src/sass/style.scss';

.authentication-wrapper {
  &__header {
    text-align: center;
    margin-bottom: $space-small;
    line-height: 30px;
  }
  &__title {
    padding-bottom: $space-small;
  }
  &__sub-title {
    padding-bottom: $space-large;
  }
  &__error-section {
    padding-bottom: $space-large;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__error-icon{
    margin-right: 5px;
  }
}
