@import '~/src/sass/style.scss';

.header {
  background: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  width: 100%;
  padding: 0 $space-default;
  flex-shrink: 0;
  border-bottom: 1px solid $gray-light;
  box-shadow: 0 0 0px $gray-light;

  &__hamburger-icon {
    cursor: pointer;
    padding: 4px;
  }

  &__hamburger-row {
    width: 20px;
    height: 2px;
    background-color: $gray-dark;
    margin: 4px 0;
    border-radius: 1px;
  }

  &__left-section {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__company-name {
    display: block;
   }

  &__right-section {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__filter {
    width: 180px;
  }
}

@include large-up {
  .header{
    &__logo {
     display: none;
    }
  }
}
