@import '~/src/sass/style';

.create-user-group {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $space-default;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $space-default;
  }

  &__margin-bottom {
    margin-bottom: $space-default;
  }

  &__margin-right {
    margin-right: $space-small;
  }

  &__form {
    max-width: 600px;
  }

  &__field {
    margin-bottom: $space-large;
  }

  &__action-items {
    display: flex;
    justify-content: flex-end;
    margin-top: $space-large;
  }
}
