@import '~/src/sass/style';

.user-detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $space-default;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $space-default;
  }

  &__content {
    flex: 1;
    overflow-y: auto;
  }

  &__alert {
    margin-bottom: $space-default;
  }

  &__action-items {
    display: flex;
    gap: $space-default;
    margin-top: $space-large;
    justify-content: flex-start;
  }
}
