@import '~/src/sass/style';

.radio-group {
  &__star {
    color: $error;
  }
  &__label-container {
    display: flex;
    justify-content: space-between;
  }
  &__label {
    display: block;
    padding-bottom: 5px;
  }
}
